*{
	padding: 0px;
	margin:0px;
	list-style: none;
}
.header{
  width: 100%;
  background: white;
  position: relative;
  z-index: 9;
  top: 0px;
  position: fixed;
}

.header-right .current{
	display: none;
}
.header .header-ul a{
	text-decoration: none;
	color: black;
}

.nav{
	width: 100%;
	background:#f3f3f3;
}
.nav .nav1,.nav .nav2,.nav .nav3{
	width: 33.33%;
	background: transparent;
	float: left;
	padding:0px 22px ;
}
.nav .nav-center{
	width: 90%;
	background:transparent;
}
.nav .nav1 p,.nav .nav3 p{
	margin-top: 39px;
}
.nav .nav2 h4{
	margin-top: 39px;
}


.footer{
	width: 100%;
	height: 473px;
	background: #f6f6f6;
	padding-top: 92px;
}
.footer .cen{
	height: 255px;
	background: transparent;
	max-width: 920px;
	min-width: 320px;
	padding-bottom: 60px;
}
.footer .cen ul{
	width: 33.33%;
	height: 195px;
	background: transparent;
	float: left;
}
.footer .cen ul li span{
	font-size: 24px;
	color: #a1a1a1;
}
.footer .cen ul li a{
	width: 100%;
	line-height: 40px;
	float: left;
	text-decoration: none;
	color: #444444;
}
.footer p{
	width: 70%;
}



@media (max-width: 550px){
	.nav .nav-center{
		width: 100%;
	}
	.nav .nav1,.nav .nav2,.nav .nav3{
		width: 100%;
	}
}

@media (max-width: 598px){ 
	.footer{
		height: 582px;
		padding-top: 0px;
		padding-top: 40px;
	}
	.footer .cen {
		height: 428px;
	}
	.footer .cen ul{
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.footer .cen ul li span{
		font-size: 17px;
	}
	.footer .cen .ul1{
		height: 135px;
	}
	.footer .cen .ul2{
		height: 95px;
	}
	.footer .cen .ul3{
		height: 118px;
	}
	.footer .cen ul li a{
		line-height: 30px;
		font-size: 13px;
	}
	.footer p{
		width: 100%;
	}
}





@media (max-width: 767px){ 
	.header{
		height: 56px;
		width: 100%;
		background: #2b3643;
		position: fixed;
	}
	.header-center{
	height: 56px;
	width: 100%;
	background: transparent;
}
	.header-left{
		background: url(../images/logo1.png) 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		line-height: 56px;
		width: 83px;
		float: right;
	}
	.header-right{
		float: left;
		width: 48px;
		height: 48px;
		background: green;
		cursor: pointer;
		margin-top: 5px;
	}
	.header-right .bord{
		margin-top: 14px;
		margin-left: 12px;
	}
	.header-right p{
        width: 24px;
        height: 4px;
        background: white;
        border-radius: 25px;
        left: 10px;
        margin: 0px 0px 4px;
	}
	.header-ul{
		display: none;
		width: 240px;
		height: 100%;
		background: rgba(43,54,67,0.9);
		margin-top: 13px;
		margin-left: -15px;
		position: fixed;
	}
	.header-ul .ul1{
		padding-top: 27px;
	}
	.header-ul .title,.header .title1{
		line-height: 48px;
		width: 100%;
	}
	.header-ul .title:hover{
		background:#3bf1f5;
	}
	.header .title1:hover{
		background:#3bf1f5;
	}
	.header-ul .title a,.header .title1 a{
		color: white;
		font-size: 14px;
		margin-left: 30px;
	}
	.current ol{
	display: none;
    }
    .current ol li{
	margin-left: 10px;
    }
    .header .header-ul .title1 span{
    	color: white;
    	font-size: 24px;
    	float: right;
    }
    .header .header-ul .title1 span:hover{
    	transform: rotate(180deg);
    }
    .banner{
	width: 100%;
	height: 304px;
	margin-top: 56px;
	background: url(../images/301.jpg) 50%;
}
	.content{
		height: 738px;
	}
	.nav1{
		width: 100%;
		float: none;
	}
	.menu1{
		width: 100%;
		float: none;
		margin-bottom: 58px;
	}
	.minimenu1,.minimenu2{
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 58px;
	}
	

}

@media (min-width: 768px) and (max-width: 991px) { 
	.header{
		width: 100%;
		height: 166px;
		background: white;
	}
	.header-left{
		margin: auto;
		background-image: url(../images/LOGO.png);
		background-repeat:  no-repeat;
		line-height: 61px;
		width: 164px;
		margin-top: 17px;
	}
	.header-right .header-ul{
		margin-left: 25%;
	}
	/*.carousel-control{
		top: 88px;
		bottom: 20px;
	}*/
	.header-right .title,.header-right .title1{
	float: left;
	margin-left: 40px;
    line-height: 78px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.header-right .current{
	font-size: 14px;
	line-height: 38px;
	width: 188px;
	height: 342px;
	background: red;
	margin-left: -80px;
	/*display: none;*/
	position: absolute;
}
.header-center{
	height: 78px;
	background: transparent;
}
.header .header-ul .title1 span{
   display: none;
}
.banner{
	width: 100%;
	height: 304px;
	margin-top: 166px;
	background: url(../images/301.jpg) 50%;
}

}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 992px) { 
	.header{
		width: 100%;
		height: 88px;
		background: white;
	}
	.header-right .header-ul{
		float: right;
		margin-bottom: 0px;
	}
	
	/*.carousel{
		margin-top: 10px;
	}
	.carousel-control{
		bottom: 20px;
	}*/
	/*.header{
		position: fixed;
	}*/
	
	.header-right .title,.header-right .title1{
	float: left;
	margin-left: 40px;
    line-height: 78px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
    .header-left{
    	float: left;
    	background-image: url(../images/LOGO.png);
		background-repeat:  no-repeat;
		line-height: 61px;
		width: 164px;
		margin-top: 17px;
    }
    .header-right .current{
	font-size: 14px;
	line-height: 32px;
	width: 188px;
	height: 304px;
	background: red;
	margin-left: -80px;
	/*display: none;*/
	position: absolute;
}
    .header-center{
    	height: 78px;
    	background: transparent;
    }
    .header .header-ul .title1 span{
       	display: none;
    }
    .banner{
	width: 100%;
	height: 304px;
	margin-top: 88px;
	background: url(../images/301.jpg) 50%;
}

}